# Auto detect text files and perform LF normalization
* text=auto
crime_prediction_model.pkl filter=lfs diff=lfs merge=lfs -text
crime_rate_model.pkl filter=lfs diff=lfs merge=lfs -text
MCI_2014_to_2019.csv filter=lfs diff=lfs merge=lfs -text
